## Homework

### Set up the environment

You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from
[06-environment.md](https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/01-intro/06-environment.md).

In [1]:
import numpy as np
import pandas as pd

### Question 1

What's the version of Pandas that you installed?

You can get the version information using the `__version__` field:

In [2]:
np.__version__

'1.25.2'

### Getting the data 

For this homework, we'll use the California Housing Prices dataset. Download it from 
[here](https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv).eld:

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv")

### Question 2
How many columns are in the dataset? **10**

.t?ld:

In [4]:
data.shape[1]

10

### Question 3
Which columns in the dataset have missing values? **total_bedrooms**

.datasetd:

In [6]:
data.isnull().sum() > 0

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms         True
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

### Question 4
How many unique values does the *ocean_proximity* column have? **5**

.e?d:

In [8]:
data['ocean_proximity'].nunique()

5

### Question 5
What's the average value of the *median_house_value* for the houses located near the bay? **259212.3117**

.y?d:

In [9]:
data[data['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean()

259212.31179039303

### Question 6

1. Calculate the average of `total_bedrooms` column in the dataset.
2. Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
3. Now, calculate the average of `total_bedrooms` again.
4. Has it changed?

Has it changed? **No**

.

In [10]:
avg_bedrooms = data['total_bedrooms'].mean()
print(f'Average of bedrooms before to fillna {avg_bedrooms}')

Average of bedrooms before to fillna 537.8705525375618

In [11]:
data['total_bedrooms'] = data['total_bedrooms'].fillna(value=avg_bedrooms)
avg_bedrooms_fillna = data['total_bedrooms'].mean()
print(f'Average of bedrooms after to fillna {avg_bedrooms_fillna}')

Average of bedrooms after to fillna 537.8705525375617

### Question 7

1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`? **5.6992**

In [13]:
islands_df = data[data['ocean_proximity'] == 'ISLAND']
islands_df = islands_df[['housing_median_age', 'total_rooms', 'total_bedrooms']]
islands_df

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [14]:
X = islands_df.to_numpy()
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [15]:
y = np.array([950, 1300, 800, 1000, 1300])

In [16]:
w = (XTX_inv @ X.T) @ y
w

array([23.12330961, -1.48124183,  5.69922946])

In [17]:
w[2]

5.699229455065586